<%= render 'search', q: @q %>

<% @syms.each do |sym| %>
  <div class="sym" data-sym-id="<%= sym.id %>">

    <div class="row title">
      <h2>
        <div class="col-md-4">
          <% if current_user.try(:admin) %>
            <%= link_to(fa_icon('times-circle', class: 'warning left'), '#', data: { disable: :sym }) %>
          <% end %>
        </div>
        <div class="col-md-4">
          <%= link_to sym_title(sym), sym_path(sym) %>
        </div>
        <div class="col-md-4 sym-options">
          <%= render 'sym_options', sym: sym %>
        </div>
      </h2>
    </div>

    <%= render 'sym_charts', sym: sym %>

    <hr>
  </div>
<% end %>

<%= will_paginate(@syms, class: 'apple_pagination') %>
