<!DOCTYPE html>
<html>
<head>
  <title>StockTrends</title>
  <link href='http://fonts.googleapis.com/css?family=Ropa+Sans' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= analytics_init if Rails.env.production? %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <div class="nav-container">
    <h2 id="title">
      <%= link_to 'StockTrends', root_path %>
    </h2>
    <span class="navigation">
      <%= image_tag current_user.image_link, class: 'profile-picture', id: 'sign_in', data: { toggle: 'user-nav' } %>
      <%= link_to 'Log Out', signout_path, id: 'sign_out', title: 'Log out' %>
      <%= link_to 'Favorites', favorites_syms_path, title: 'Favorites' %>
    </span>
  </div>
</nav>

<div class="container">
  <div data-function="notices">
    <% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
        <div role='alert' class='alert alert-<%= flash_class(name) %>'>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        </div>
      <% end %>
    <% end %>
  </div>

  <%= yield %>
</div>

<div id="footer">
  <p>
    <div class="copyright">Copyright © <%= Date.today.year %> <%= link_to 'Steven Spiel', 'http://www.stevenspiel.com' %>. All Rights Reserved</div>
    <div class="disclaimer"><%= link_to 'Disclaimer', disclaimer_path %></div>
  </p>
</div>

</body>
</html>
