<!DOCTYPE html>
<html>
<head>
  <title>StockTrends</title>
  <link href='http://fonts.googleapis.com/css?family=Ropa+Sans' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= analytics_init if Rails.env.production? %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <h2 id="title">
    <%= link_to 'StockTrends', root_path %>
  </h2>
  <span class="navigation">
    <% if current_user %>
      <%= image_tag current_user.image_link, class: 'profile-picture', id: 'sign_in', data: { toggle: 'user-nav' } %>
      <div id="user-nav">
        <ul>
          <li><%= link_to 'Favorites', favorites_syms_path, title: 'Favorites' %></li>
          <li><%= link_to 'Sign out', signout_path, id: 'sign_out', title: 'Sign out' %></li>
        </ul>
      </div>
    <% else %>
      <%= link_to 'Log in', '/auth/google_oauth2' %>
      <%= link_to 'Sign up', '/auth/google_oauth2' %>
    <% end %>
  </span>
</nav>

<div class="container">
  <%= yield %>
</div>

<div id="footer">
  <div class="copyright">Copyright © <%= Date.today.year %> <%= link_to 'Steven Spiel', 'http://www.stevenspiel.com' %>. All Rights Reserved</div>
  <div class="disclaimer"><%= link_to 'Disclaimer', disclaimer_path %></div>
</div>

</body>
</html>
