<!DOCTYPE html>
<html>
<head>
  <title>StockTrends</title>
  <link href='http://fonts.googleapis.com/css?family=Ropa+Sans' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'maintenance' %>
  <%= javascript_include_tag 'public' %>
  <%= analytics_init if Rails.env.production? %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container maintenance">
  <%= yield %>
</div>

</body>
</html>
